body {
  color: #40514E;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Kaushan Script', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: white;
}

hr {
  border-color: #EAF6F6;
  border-style: dotted none none;
  border-width: 5px;
  clear: both;
  width: 5%;
}

.top-container {
  background-color: #ddf3f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.title {
  margin-bottom: 50px;
}

.profile {
  width: 40%;
  margin: 0 auto 100px;
}

.profile-img {
  width: 25%;
}

.skills {
  margin: 100px auto 200px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.me-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.pro-img {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.contact-me {
  margin: 100px auto;
  width: 30%;
}

.btn {
  background-color: #11999e;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #11999e;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #66bfbf;
  color: #ffffff;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2.5rem 0;
  text-align: center;
}

.contact-message {
  margin: 40px auto 60px;
}

.twitter-icon {
  color: #1da1f2;
}

.copyright {
  color: #EAF6F6;
  margin-bottom: 0;
}

.profile-img-source {
  color: rgba(64, 81, 78, 0.3);
}
